@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 16px;
  font-family: "Roboto", Helvetica, Arial, sans-serif !important;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #b8bcc3;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bdbdbd;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #e0e0e0;
  border-radius: 4px;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track-piece {
  background-color: #f1f1f1;
  width: 8px;
  height: 8px;
}

.ant-form-item-label {
  text-align: start;
}

.ant-modal-content {
  .ant-modal-footer {
    margin-top: 0;
  }
}

table {
  tr {
    td {
      height: 44px !important;
      padding: 0 16px !important;
    }
  }
}

.ant-table-body {
  scrollbar-width: auto;
  scrollbar-color: auto;
}

.ant-table-body::-webkit-scrollbar {
  width: 4px;
}

.ant-table-body::-webkit-scrollbar-track {
  background-color: #e1e6e6;
}

.ant-table-body::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #e1e6e6;
}
